<div class="order-item">
    <div class="inner">
        <div class="cover">
            <a href="#bookinfo/{{bookId}}">
                <img src="{{cover.preview}}" class="img-responsive img-thumbnail" />
            </a>
        </div>
        <div class="description">
            <div class="author"><a href="#author/{{authorId}}">{{authorTitle}}</a></div>
            <div class="title"><a href="#bookinfo/{{bookId}}">{{bookTitle}}</a></div>
        </div>
    </div>
    <div class="rating"><i class="star {{ratingClasses}}"></i></div>
</div>