<div class="author-info container">
    <div class="nav-actions">
        <a href="#" class="btn action-back btn-link"><span class="glyphicon glyphicon-arrow-left"></span>Back to books list</a>
    </div>
    <div class="titles clearfix">
        <div class="line photo text-center col-md-4">
            <img src="{{photo}}" class="img-responsive img-thumbnail" />
            <div class="book-action cover-actions">

            </div>
        </div>
        <div class="line info col-md-8">
            <div class="author-name"><h3>{{name}}</h3></div>
            <div class="dates">
                {{#if dates.death}}
                    {{dates.birth}} - {{dates.death}}
                {{else}}
                    Born: {{dates.birth}}
                {{/if}}
            </div>
            <div class="bio col-md-10">
                <h4>Bio</h4>
                <div class="text">
                    <div class="text-wrapper clearfix">
                    {{{bio}}}
                    </div>
                </div>
                <div class="show-full-bio">
                    <div class="gradient"></div>
                    <div class="button">Show full bio</div>
                </div>
            </div>
        </div>
    </div>
    <h4>Books</h4>
    <div class="author-books-region container">

    </div>
</div>